<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header col-sm-3 col-md-3">
      <a class="navbar-brand" href="/"><img src="<%= image_url 'logo2.png' %>"/><span class="brand-name">今日招聘</span></a>
    </div>
    <div class="col-sm-7 col-md-7 ">
          <% unless @q.blank? %>
            <%= search_form_for @q, class: "input-group" do |f| %>
            <%= f.search_field :searchjob_cont, class:"form-control", id: "search-input", placeholder:"好工作，都在这！" %>
            <div class="input-group-btn">
              <%= f.submit "搜索",  class:"btn btn-default", id: "btn-search"%>
            </div>
            <% end %>
          <% end %>

            <!-- <form class="navbar-form" role="search">
            <div class="input-group">
                <input type="text" class="form-control" id="search-input" placeholder="Search" name="q">

            </div>
            </form> -->
    </div>
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <% if current_user.blank? %>
        <li>
          <!-- <%= link_to("登录",new_user_session_path)%> -->
          <a  href="#" data-toggle="modal" data-target="#signup-modal">注册</a>
        </li>
        <li>
          <!-- <%= link_to("注册", new_user_registration_path)%> -->
          <a  href="#" data-toggle="modal" data-target="#signin-modal">登录</a>
        </li>
        <% else %>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Hi!,<%= current_user.email %><b class="caret"></b></a>
          <ul class="dropdown-menu">
            <% if current_user && current_user.is_admin? %>
            <li>
              <%= link_to("Admin", admin_jobs_path)%>
            </li>
            <% end %>
            <li>
              <%= link_to("Exit", destroy_user_session_path, method: :delete)%>
            </li>
          </ul>
        </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>

<div class="modal fade" id="signin-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display:none">
  <div class="modal-dialog" role="document">
    <div class="loginmodal-container">
      <h2>Log in</h2>
      <%= simple_form_for(resource, as:resource_name, url:session_path(resource_name)) do | f| %>
        <div class="form-inputs">
          <%=  f.input :email, required: false, autofocus: true %>
          <%=  f.input :password, required: false %>
          <%=  f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
        </div>
        <div class="form-actions">
          <%= f.button :submit, "Log in"%>
        </div>
      <% end %>
    </div>
  </div>

</div>

<div class="modal fade" id="signup-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display:none">
  <div class="modal-dialog">
    <div class="loginmodal-container">
      <h2>Sign up</h2>
      <%= simple_form_for(resource, as:resource_name, url:registration_path(resource_name)) do |f| %>
      <%= f.error_notification%>
      <div class="form-inputs">
      <%= f.input :email , required: true, autofocus: true %>
      <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum " if @minimum_password_length) %>
      <%= f.input :password_confirmation, required: true %>
      </div>
      <div class="form-inputs">
        <%= f.button :submit, "Sign up" %>
      </div>
      <% end %>
    </div>
  </div>
</div>
