<div class="pull-right">
  <%= link_to("Add a movie", new_movie_path, :class => "btn btn-default" )%>
</div>

<table class="table table-bordered">
  <% @movies.each do |movie| %>
  <tr>
    <td>
      <%= link_to(movie.title, movie_path(movie)) %>
    </td>

    <td>
      <%= link_to("Edit", edit_movie_path(movie)) %> |
      <%= link_to("Delete", movie_path(movie), :method => :delete, :data => { :confirm => "Are you sure?" }) %>
    </td>
    <td>
      <%= movie.created_at %>
    </td>
  </tr>
  <% end %>
</table>
