<h1>工作：<%= @work.title %></h1>
<h4>职位描述：<%= simple_format(@work.description) %></h4>

<h2>最低收入：<%= @work.wage_lower_bound %></h2>
<h2>最高收入：<%= @work.wage_upper_bound %></h2>
<h3>邮箱：<%= @work.contact_email %></h3>


<div class="text-center">
  <%= link_to("投简历", new_work_jianli_path(@work), style: "font-size: 30px; text-decoration:underline;") %>
</div>
