<%= form_for @job do |j| %>
  <div class="form-group">
    <div class="form-group string optional">
      <%= j.label "title", :class => "string optional control-label" %>
      <%= j.text_field :title, :class => "string optional form-control" %>
    </div>

    <div class="form-group string optional">
        <%= j.label "description", :class => "string optional control-label" %>
        <%= j.text_area :description, :class => "string optional form-control" %>
    </div>
  </div>

<%= j.submit "Submit", class: "btn btn-primary", data: {disable_with: "Submitting..."}%>
<% end %>
