<%= form_for @job do |f| %>
<% if @job.errors.any?%>
<ul>
  <% @job.errors.full_messages.each do |msg| %>
  <li><%= msg %></li>
  <% end %>
</ul>
<% end %>
姓名
<%= f.text_field :title %>
<br>
职位
<br>
<%= f.text_area :description%>
<br>
<%= f.submit "Submit", :disable_with => 'Submiting...'%>
<% end %>
