<%= form_for @job do |f| %>
<div class="form-job">
  <div class="form-job string optional">
    <%= f.label "title", :class => "string optional control-label" %>
    <%= f.text_field :title, :class => "string optional form-control form-control" %>
  </div>
  <div class="form-group string optional">
    <%= f.label "description", :class => "string optional control-label" %>
    <%= f.text_area :description, :class => "string optional form-control" %>
  </div>
</div>
<%= f.submit "submit", class: "btn btn-primary", data:{ disable_with: "Submiting..." } %>
<% end %>
