
<tr>
<td>
<%= render_job_state(job) %>
<%= link_to(job.title,  job_path(job))%>
</td>

<td><%= simple_format(job.description) %></td>

<td><%= job.contact %></td>
<td><%= job.created_at.strftime("%Y/%m/%d") %></td>

</tr>
