<tr>

  <td><%= link_to(job.title, job_path(job)) %></td>

  <td>

      <%= link_to("Edit", edit_job_path(job))%>
      <%= '|'%>
      <%= link_to("destroy", job_path(job),
                  method: :delete, data: { confirm: "Are you sure?" } )%>

  </td>
  <td><%= job.created_at %></td>

</tr>
