<div class="col-md-12">
    <div class="panel panel-success">
        <div class="panel-heading">
            <h3 class="panel-title">Edit a job</h3>
        </div>
        <div class="panel-body">
            <p>
                <%= simple_form_for @job do |f| %>

                <%= f.input :title %>
                <%= f.input :description %>
                <%= f.input :wage_lower_bound, :label => "薪资下限" %>
                <%= f.input :wage_upper_bound, :label => "薪资上限" %>
                <%= f.input :contact_email %>
                <%= f.input :is_hidden %>

                <%= f.submit "Submit" %>

                <% end %>
            </p>
        </div>
    </div>
</div>
