
  <table class="table table-boldered">
<tr>
<td>工作名称</td>
<td><%=link_to("工作薪资上限",jobs_path(@jobs ,order: "wage_upper_bound"))%></td>
<td><%= link_to("工作薪资下限",jobs_path(@jobs , order: "wage_lower_bound"))%></td>
<td>联系邮箱</td>
<td><%= link_to("创建时间",jobs_path)%></td>
</tr>


    <% @jobs.each do |job| %>
    <tr>
      <td>
        <%= link_to(job.title, admin_job_path(job)) %></td>
      <td>
        <%= job.wage_upper_bound%>
      </td>
      <td>
        <%= job.wage_lower_bound%>
      </td>
      <td>
        <%= job.contact_email%>
      </td>
      <td>
        <%= job.created_at %>
      </td>
    </tr>
    <% end %>
  </table>
