<div class="container">
  <!-- <div class="job">
    <%= link_to("Add a job", new_job_path, class: "btn btn-primary pull-right") %>
  </div> -->


  <div class="dropdown clearfix pull-right">
    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenuDivider"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          排序
          <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuDivider">
        <li><%= link_to("按照薪资下限排序", jobs_path(:order => "by_lower_bound")) %></li>
        <li><%= link_to("按照薪资上限排序", jobs_path(:order => "by_upper_bound")) %></li>
        <li><%= link_to("按照发表时间排序", jobs_path) %></li>
    </ul>
  </div>

  <table class="table table-boldered">
    <thead>
      <tr>
        <td>职位</td>
        <td>薪资下限</td>
        <td>薪资上限</td>
        <td>刊登时间</td>
        <td>分类</td>
      </tr>
    </thead>
    <tbody>
      <%= render :partial => "job_item", :collection => @jobs, :as => :job %>
    </tbody>
  </table>
</div>
