<div class="container-fluid">
<% if current_user && current_user.isAdmin %>
<div class="group">
  <%= link_to("New job", new_job_path, class:"btn btn-primary pull-right")%>
</div>
<% end %>
<table class="table">
<thead>
  <th>#</th>

  <th>job</th>
  <th>description</th>
  <th>salary</th>
  <th>contact</th>
  <th>created at</th>
  <% if !params[:admin_id].blank?%>
  <% if current_user && current_user.isAdmin %>
  <th>
    hide
  </th>
  <% end %>
  <% end %>
  <th colspan="2"></th>
</thead>
<tbody>
  <% @jobs.each do |job| %>
  <% if !job.hide || !params[:admin_id].blank?  %>
  <tr>
  <td>#</td>
  <td><%= job.title %></td>
  <td><%= job.description %></td>
  <td> <%=job.salaryMin%> - <%=job.salaryMax%></td>
  <td><%= job.contact %></td>
  <td><%= job.created_at %></td>

  <% if !params[:admin_id].blank?%>
  <% if current_user && current_user.isAdmin %>
  <td>
    <%  if job.hide %>
    YES
    <% else %>
    NO
    <% end %>
  </td>
  <% end %>
  <td>

    <% if !current_user.blank? && current_user.isAdmin && (!job.hide || !params[:admin_id].blank?) %>
    <%= link_to("Edit", edit_job_path(job), class: "btn btn-default") %>
    <%= link_to("Delete",job_path(job), method: :delete, class: "btn btn-default") %>
    <% end %>

  </td>
  <% end %>
  </tr>

  <% end %>
  <% end %>
</tbody>
</table>
</div>
