<div class="pull-right">
  <%= link_to("Add a job", new_job_path, :class => "btn btn-default" ) %>
</div>



<table class="table table-boldered">
  <thead>
    <tr>
      <th> title</th>
      <!-- <th> description</th> -->
      <th> 薪资上限</th>
      <th> 薪资下限</th>
      <th> 邮箱</th>
    </tr>
  </thead>
  <tbody>


  <% @jobs.each do |job| %>
  <tr>
    <td>
      <%= link_to(job.title, job_path(job)) %>
    </td>
    <td>
       <%= job.contact_email %>
    </td>
    <td>
      <%= link_to("Edit", edit_job_path(job)) %> |
      <%= link_to("Destroy", job_path(job), :method => :delete, :data => { :confirm => "Are you sure?" }) %>
    </td>
    <td>
      <%= job.created_at %>
    </td>
  </tr>
  <% end %>
  </tbody>
</table>
