<div class="pull-right">
    <span class="dropdown">
      <button class="dropdown-toggle btn btn-default" data-toggle="dropdown">
        Sort By
        <b class="caret"></b>
      </button>
        <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuDivider">
            <li> <%= link_to("Wage Upper Bound", jobs_path(:order => 'upperwage')) %> </li>
            <li><%= link_to("Wage Lower Bound", jobs_path(:order => 'lowerwage')) %></li>
            <li><%= link_to("Created Time", jobs_path(:order => 'date')) %></li>
        </ul>
    </span>
      
      <% if current_user && current_user.admin? %>
        <%= link_to("Add a job", new_job_path, :class => "btn btn-default" ) %>
      <% end %>
</div>

<br>
<br>

<table class="table table-boldered">
  <tr>
    <th>Position</th>
    <th><%= link_to("Wage Upper Bound", jobs_path(:order => 'upperwage')) %></th>
    <th><%= link_to("Wage Lower Bound", jobs_path(:order => 'lowerwage')) %></th>
    <th><%= link_to("Created Time", jobs_path(:order => 'date')) %></th>
    <th></th>
  </tr>
  <% @jobs.each do |job| %>
  <tr>
    <td>
      <%= link_to(job.title, job_path(job)) %>
    </td>
    <td>
      <%= job.wage_upper_bound %>
    </td>
    <td>
      <%= job.wage_lower_bound %>
    </td>
    <td>
      <%= job.created_at %>
    </td>
    <td>
      <% if current_user && current_user.admin? %>
        <%= link_to("Edit", edit_job_path(job)) %> |
        <%= link_to("Destroy", job_path(job), :method => :delete, :data => { :confirm => "Are you sure?" }) %>
      <% end %>
    </td>
  </tr>
  <% end %>
</table>