<div class="col-md-12">
  <div class="job">
    <%= link_to("添加新职位", new_job_path, class: "btn btn-primary pull-right")%>
  </div>
  <table class="table table-hover">
    <thead>
      <tr>
        <td>#</td>
        <td>职位</td>
        <td>简介</td>
        <td>薪资上限</td>
        <td>薪资下限</td>
        <td>联系邮箱</td>
        <td>发布时间</td>
      </tr>
    </thead>
    <tbody>
      <% @jobs.each do |job| %>
        <tr>
          <td>#</td>
          <td><%= link_to(job.title, job_path(job)) %></td>
          <td><%= job.description %></td>
          <td><%= job.wage_upper_bound %></td>
          <td><%= job.wage_lower_bound %></td>
          <td><%= job.contact_email %></td>
          <td><%= job.created_at %></td>
          <td>
              <%= link_to("编辑", edit_job_path(job), class: "btn btn-sm btn-default")%>
              <%= link_to("删除", job_path(job), class: "btn btn-sm btn-default", method: :delete, data: { confirm: "你确定删除该职位吗？"})%>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
