<div class="col-md-12">
  <div class="job">
    <%= link_to("添加职位", new_job_path, class: "btn btn-primary pull-right") %>
  </div>
<table class="table table-boldered">
  <% @jobs.each do |job| %>
  <tr>
    <td>
      <td>

    

      <%= link_to(job.title, job_path(job)) %>
    </td>
    <td>
        <%= link_to("Edit", edit_job_path(job), class: "btn btn-sm btn-default")%>
        <%= link_to("Delete", job_path(job),    class: "btn btn-sm btn-default",
                    method: :delete, data: { confirm: "Are you sure?" } )%>
    </td>
    <td>
      <%= job.created_at %>
    </td>
  </tr>
  <% end %>
</table>
