
<!--
<div class="pull-right">
  <%= link_to("Add a job", new_job_path, :class => "btn btn-default" ) %>
</div>

<div class="dropdown clearfix pull-right">
    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenuDivider" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
      排序
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuDivider">
        <li>
          <%= link_to("按照薪资下限排序", jobs_path(:order => "by_lower_bound")) %>
        </li>
        <li>
            <%= link_to("按照薪资上限排序", jobs_path(:order => "by_upper_bound")) %>

        </li>
        <li>
          <%= link_to("按照发表时间排序", jobs_path ) %>

        </li>
    </ul>
</div>

<br>
<br>
<br> -->
<!-- /*<style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 90%;
    box-shadow: 10px 10px 5px grey;
}
td, th {
    border: none;
    text-align: left;
    padding: 15px;
}
th {background-color: #FFCA28}
tr:nth-child(even) {
    background-color: #FFF8E1;
}
</style>*/ -->

<div class="jobs-container">
  <!-- <div class="content"> -->



    <ul class="nav nav-tabs">
      <li class="<%= 'active' if !params[:order] %>">
        <%= link_to("按照发布时间排序", jobs_path) %>
      </li>
      <li <li class="<%= 'active' if params[:order] == 'by_author' %>">
        <%= link_to("按照作者排序", jobs_path(:order => "by_author")) %>
      </li>
      <!-- <li <li class="<%= 'active' if params[:order] == 'by_upper_bound' %>">
        <%= link_to("按照薪资上限排序", jobs_path(:order => "by_upper_bound")) %>
      </li> -->
    </ul>


<style>

th {
  background-color: #d9534f;
  color: white;
}
</style>
<!-- <div class="container-fluid"> -->
<table class="table table-boldered table-striped custab">
    <!-- <thead> -->
        <!-- <tr> -->
            <th> Gems</th>
            <th>作者</th>
            <!-- <th>薪资下限</th> -->
            <!-- <th>薪资上限</th> -->
            <th>发布时间</th>
        <!-- </tr> -->

    <!-- </thead> -->
    <tbody>
        <% @jobs.each do |job| %>
        <tr>
            <td>
                <%= link_to(job.title, job_path(job)) %>
            </td>
            <td>
                <%= job.author %>
            </td>
            <!-- <td>
                <%= job.wage_upper_bound %>
            </td> -->
            <td>
                <%= job.created_at %>
            </td>
        </tr>
        <% end %>
    </tbody>

</table>
<br>
<br>
<br>

<!-- </div> -->
