<div class="col-md-12">
  <div>
    <ul class="order">
      <li>
        <%= sort_link(@search, :wage_lower_bound, '薪資下限', default_order: :desc) %>
      </li>

      <li>
        <%= sort_link(@search, :wage_upper_bound, '薪資上限', default_order: :desc) %>
      </li>

      <li>
        <%= sort_link(@search, :created_at, '發佈時間', default_order: :desc) %>
      </li>
    </ul>
  </div>

  <% @jobs.each do |job| %>
  <div class="blog-card">
    <div class="meta">
      <div class="photo"
        style="background-image: url(https://storage.googleapis.com/chydlx/codepen/blog-cards/image-1.jpg)"></div>
      <ul class="details">
        <li class="author"><a href="#">John Doe</a></li>
        <li class="date">Aug. 24, 2015</li>
        <li class="tags">
          <ul>
            <li><a href="#">Learn</a></li>
            <li><a href="#">Code</a></li>
            <li><a href="#">HTML</a></li>
            <li><a href="#">CSS</a></li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="description">
      <h1><%= link_to(job.title, job_path(job)) %></h1>
      <h2>Opening a door to the future</h2>
      <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad eum dolorum architecto obcaecati enim dicta
        praesentium, quam nobis! Neque ad aliquam facilis numquam. Veritatis, sit.</p>
      <p class="read-more">
        <a href="#">Read More</a>
      </p>
    </div>
  </div>
  <% end %>


  <div class="text-center">
    <%= will_paginate @jobs %>
  </div>
</div>