<!-- <table class="table table-boldered">
  <% @jobs.each do |job|%>
    <tr>
      <td>
        <%= link_to job.title, job%>
      </td>
      <td>
        <%= link_to("Edit", edit_job_path(job))%>
        <%= link_to("Delete", job_path(job), method: :delete, data: { confirm: "Are you sure to delete?"})%>
      </td>
      <td>
        <%= job.created_at%>
      </td>
    </tr>
  <% end %>
</table> -->
<table class="table table-boldered">
  <thead>
    <tr>
      <td>Job</td>
      <td>Wage Lower Bound</td>
      <td>Wage Upper Bound</td>
      <td>Post Time</td>
    </tr>
  </thead>
  <tbody>
    <% @jobs.each do |job|%>
      <tr>
        <td>
          <%= link_to job.title, job%>
        </td>
        <td><%= job.wage_lower_bound%></td>
        <td><%= job.wage_upper_bound%></td>
        <td><%= job.created_at%></td>
      </tr>
    <% end %>
  </tbody>

  <div class="dropdown clearfix pull-right">
    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenuDivider" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
      Sort by
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuDivider">
      <li>
        <%= link_to("sort by wage lower bound", jobs_path(order: "by_lower_bound"))%>
      </li>
      <li>
        <%= link_to("sort by wage upper bound", jobs_path(order: "by_upper_bound"))%>
      </li>
      <li>
        <%= link_to("sort by post time", jobs_path)%>
      </li>
    </ul>
  </div>
</table>
<div class="pull-right">
  <%= link_to("Add a new job", new_job_path, class: "btn btn-default")%>
</div>
