<div class="col-md-12">
  <div class="group">
    <%= link_to("New Job", new_job_path, class: "btn btn-primary pull-right") %>
  </div>
  <table class="table table-hover">
    <thead>
      <tr>
        <td><span class="glyphicon glyphicon-asterisk"></span></td>
        <td>Title</td>
        <!-- <td>Description</td> -->
        <td>Creator</td>
        <td>Created Time</td>
      </tr>
    </thead>
    <tbody>
      <% @jobs.each do |job| %>
      <tr>
        <td><span class="glyphicon glyphicon-asterisk"></span></td>
        <td><%= link_to(job.title, job_path(job)) %></td>
        <!-- <td><%= job.description %></td> -->
        <td><%= job.user.email %></td>
        <td><%= job.created_at %> </td>
        <td>
          <% if current_user && current_user == job.user %>
          <%= link_to("Edit", edit_job_path(job), class: "btn btn-sm btn-default") %>
          <%= link_to("Delete", job_path(job), class: "btn btn-sm btn-default",
          method: :delete, data: { confirm: "真尼玛要删除?"} )%>
          <% end %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
