<div class="col-md-12">
  <!-- <div class="job">
    <%= link_to("Add a job", new_job_path, class: "btn btn-primary pull-right") %>
  </div> -->


  <div class="job">
    <ul class="nav navbar-nav navbar-right">
        <li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                排序
              <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to("按照薪资下限排序", jobs_path(:order => "by_lower_bound")) %></li>
                <li><%= link_to("按照薪资上限排序", jobs_path(:order => "by_upper_bound")) %></li>
                <li><%= link_to("按照发表时间排序", jobs_path) %></li>
              </ul>
            </li>
      </li>
    </ul>
  </div>

  <table class="table table-hover">
    <thead>
      <tr>
        <td>#</td>
        <td>Title</td>
        <td>Description</td>
        <td>Creator</td>
      </tr>
    </thead>
    <tbody>
      <%= render :partial => "job_item", :collection => @jobs, :as => :job %>
    </tbody>
  </table>
</div>
