<div class="container-fluid">
<table class="table">
<thead>
  <th>#</th>
  <th>job</th>
  <th>description</th>
  <th>salary</th>
  <th>contact</th>
  <th colspan="2"></th>
</thead>
<tbody>
  <% @jobs.each do |job| %>
  <tr>
  <td>#</td>
  <td><%= job.title %></td>
  <td><%= job.description %></td>
  <td> <%=job.salaryMin%> - <%=job.salaryMax%></td>
  <td><%= job.contact %></td>
  <td>
    <% if !current_user.blank? && current_user.isAdmin %>
    <%= link_to("Edit", edit_job_path(job), class: "btn btn-default") %>
    <%= link_to("Delete",job_path(job), method: :delete, class: "btn btn-default") %>
    <% end %>
  </td>
  </tr>
  <% end %>
</tbody>
</table>
</div>
