<div class="col-md-12">

  <table class="table table-hover">
    <thead>
      <tr>
        <td>#</td>
        <td>Title</td>
        <td>Description</td>
        <td>salary_max</td>
        <td>salary_min</td>
        <td>email</td>
      </tr>
    </thead>
    <tbody>
      <% @jobs.each do |job| %>
        <tr>
          <td>#</td>
          <td><%= job.title %></td>
          <td><%= job.description %></td>
          <td><%= job.salary_max %></td>
          <td><%= job.salary_min %></td>
          <td><%= job.email %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
