<div class="col-md-12">
  <div class="dropdown clearfix pull-right">
    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenuDivider" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
      排序
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuDivider">
      <li><%= link_to("按照薪资下限排序", "#") %></li>
      <li><%= link_to("按照薪资上限排序", "#") %></li>
      <li><%= link_to("按照发表时间排序", "#") %></li>
    </ul>
  </div>
  <table class="table table-hover">
    <tbody>
      <% @jobs.each do |job| %>
        <tr>
          <td><%= link_to(job.title, job_path(job)) %></td>
          <td>
              <% if current_user %>
              <%= link_to("Edit", edit_job_path(job), class: "btn btn-sm btn-default")%>
              <%= link_to("Delete", job_path(job),    class: "btn btn-sm btn-default",
                          method: :delete, data: { confirm: "Are you sure?" } )%>
          <td><%= job.created_at %></td>
              <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
