<div class="pull-right">
  <%= link_to("Add a job",new_job_path,:class => "btn btn-default"%>
</div>
<table class="table table-boldered">
  <% @jobs.each do |job| %>
    <tr>
      <td>
        <%= link_to(job.title,job_path(job))%>
      </td>
      <td>
        <%= job.created_at%>
      </td>
      <td>
        <%= link_to("Edti",edit_job_path(job))%> |
        <%= link_to("Delete",job_path(job),method: :delete,:data => {:confirm => "Are you sure to delete?"})%>
      </td>
    </tr>
  <% end %>
</table>
