<div class="container">
    <div class="row all_image">
        <div class="col-xs-4 all_image_css">
            <%= image_tag("all_steel.jpg", class: "img-rounded img-responsive img-center")%>
            <h3 class="text-center">铁匠</h2>
        </div>
        <div class="col-xs-4 all_image_css">
            <%= image_tag("all_wood.jpg", class: "img-rounded img-responsive img-center")%>
            <h3 class="text-center">木匠</h2>
        </div>
        <div class="col-xs-4 all_image_css">
            <%= image_tag("all_stone.jpg", class: "img-rounded img-responsive img-center")%>
            <h3 class="text-center">石匠</h2>
        </div>
    </div>
    <!-- /.row -->

    <div class="col-md-12">
        <div class="group">
            <!-- <%= link_to("新增职位", new_job_path, class: "btn btn-default pull-right") %> -->
            <div class="dropdown clearfix pull-right">
                <button class="dropdown-toggle btn btn-default" type="button" data-toggle="dropdown" id="dropdownMenuDivider" aria-haspopup="true" aria-expanded="true">
                    排序
                    <b class="caret"></b>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuDivider">
                    <li>
                        <%= link_to("按薪俸下限排序", jobs_path(:order => "by_lower_bound")) %>
                    </li>
                    <li>
                        <%= link_to("按薪俸上限排序", jobs_path(:order => "by_upper_bound")) %>
                    </li>
                    <li>
                        <%= link_to("按创建时间排序", jobs_path) %>
                    </li>
                </ul>
            </div>

        </div>
        <div class="table-responsive row">
            <table class="table table-boldered table-striped">
                <thead>
                    <tr>
                        <td>匠职</td>
                        <td>工种</td>
                        <td>薪俸范围</td>
                        <td>创建时间</td>
                        <td>操作</td>
                    </tr>
                </thead>
                <tbody>
                    <% @jobs.each do |job| %>
                    <tr>
                        <td><%= link_to(job.title, job_path(job)) %></td>
                        <td>木工</td>
                        <td>
                            <span class="badge badge-info">
                                <span class="fa fa-rmb"></span><%= job.wage_lower_bound%>
                                -
                                <%= job.wage_upper_bound%>
                            </span>
                        </td>
                        <td><%= job.created_at %></td>
                        <td><%= link_to("应征", new_job_resume_path(job), class: "btn btn-xs btn-success") %></td>
                    </tr>
                    <% end %>
                </tbody>
            </table>
        </div>

    </div>

    <script src="app/assets/javascripts/jquery.js"></script>
    <script src="app/assets/javascripts/jquery.js"></script>
