<h1> Add a job </h1>

<%= simple_form_for @job do |f| %>
<div class="form-group">
  <%= f.input :title, input_html: { class: "form-control"} %>
  <%= f.input :description, input_html: { class: "form-control"} %>
  <%= f.input :wage_lower_bound, :label => "薪资下限", input_html: { class: "form-control"} %>
  <%= f.input :wage_upper_bound, :label => "薪资上限", input_html: { class: "form-control"} %>
  <%= f.input :contact_email, input_html: { class: "form-control"} %>
  <%= f.input :is_hidden %>
</div>
<div class="form-actions">
  <%= f.submit "Submit", disable_with: "Submiting...", class: "btn btn-primary"%>
</div>
<% end %>
