<h1> Add a job </h1>

<%= simple_form_for [:admin, @job ] do |f| %>

<%= f.input :title, :label => "职位名"%>
<%= f.input :description, :label => "职位描述"%>
<%= f.input :wage_upper_bound, :label => "薪资上限"%>
<%= f.input :wage_lower_bound, :label => "薪资下限"%>
<%= f.input :contact_email, :label => "联系方式"%>
  <%= f.submit "Submit" %>
<% end %>
