<div class="col-md-4 col-md-offset-4">
    <h2>Add a job</h2>

    <hr>
    <%= form_for @job do |f| %>

    <% if @job.errors.any? %>
      <ul>
          <% @job.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
          <% end %>
        </ul>
  <% end %>
    标题
    <%= f.text_field :title %>
    <br>
    叙述
    <br>
    <%= f.text_area :description %>
    <br>

    <%= f.submit "Submit", :disable_with => 'Submiting...' %>
    <% end %>

</div>
