<div class="col-md-4 col-md-offset-4">
  <h2> Add a Job </h2>
  <%= simple_form_for @job do |f| %>
    <%= f.input :title, input_html: {class: "form-control"} %>
    <%= f.input :description, input_html: {class: "form-control"} %>
    <%= f.input :wage_lower_bound, :label => "薪资下限", input_html: {class: "form-control"} %>
    <%= f.input :wage_upper_bound, :label => "薪资上限", input_html: {class: "form-control"} %>
    <%= f.input :contact_email %>
    <%= f.submit "Submit", calss: "btn btn-primary", data: {disable_with: "Submitting ..."}%>
  <% end %>
</div>
