<h1>Add a Job</h1>
<%= simple_form_for @job do |form| %>
<%= form.input :title %>
<%= form.input :description %>
<%= form.input :wage_lower_bound, :label => "Min Wage" %>
<%= form.input :wage_upper_bound, :label => "Max Wage" %>
<%= form.input :contact_email %>

<%= form.submit "Submit" %>
<% end %>
