<div class="container">
  <div class="row">
    <div class="col-md-12">
      <%= link_to image_tag("post_mid.jpg", class: "img-rounded img-responsive img-center") %>
      <hr>
    </div>

    <div class="col-md-12">
      <h3>我已投的匠职</h3>

      <div class="table-responsive">
          <table class="table table-boldered table-striped">
              <thead>
                  <tr>
                      <td>匠职</td>
                      <td>工种</td>
                      <td>薪俸
                          <!-- <%= link_to jobs_path(:order => "by_lower_bound"), class: "btn btn-xs btn-default" do%>
                          上限<i class="fa fa-caret-up"></i><% end %>
                          <%= link_to jobs_path(:order => "by_upper_bound"), class: "btn btn-xs btn-default" do%>
                          下限<i class="fa fa-caret-down"></i><% end %> -->
                      </td>
                      <td>公司</td>
                      <td>城市</td>
                      <td>创建时间
                          <!-- <%= link_to jobs_path, class: "btn btn-xs btn-default" do%>
                          <i class="fa fa-caret-down"></i><% end %> -->
                      </td>
                      <td>竞征人数</td>
                      <td>收藏</td>
                      <td>状态</td>
                      <!-- <td>操作</td> -->
                  </tr>
              </thead>
              <tbody>
                  <% @post_jobs.each do |job| %>
                  <tr>
                      <td><%= link_to(job.title, job_path(job)) %></td>
                      <td><%= job.category %></td>
                      <td>
                          <span class="badge badge-info">
                              <span class="fa fa-rmb"></span><%= job.wage_lower_bound%>
                              -
                              <%= job.wage_upper_bound%>
                          </span>
                      </td>
                      <td><%= job.company %></td>
                      <td><%= job.city %></td>
                      <td><%= job.created_at.to_date %></td>
                      <td><%= job.resumes.count %></td>
                      <td>
                          <% if current_user && current_user.is_member_of?(job) %>
                          <i class="fa fa-bookmark"></i>
                      <% else %>
                          <i class="fa fa-bookmark-o"></i>
                          <% end %>
                      </td>
                      <td>
                        <% if current_user && current_user.has_postmen_of?(job) %>
                          <%= link_to("已应征", new_job_resume_path(job), class: "btn btn-xs btn-success disabled", method: :get) %>
                        <% else %>
                          <%= link_to("应征", new_job_resume_path(job), class: "btn btn-xs btn-success", method: :get) %>
                        <% end %>
                      </td>


                  </tr>
                  <% end %>
              </tbody>
          </table>
      </div>

      <hr><br>


      <h3>我收藏匠职</h3>

      <div class="table-responsive">
          <table class="table table-boldered table-striped">
              <thead>
                  <tr>
                      <td>匠职</td>
                      <td>工种</td>
                      <td>薪俸
                          <!-- <%= link_to jobs_path(:order => "by_lower_bound"), class: "btn btn-xs btn-default" do%>
                          上限<i class="fa fa-caret-up"></i><% end %>
                          <%= link_to jobs_path(:order => "by_upper_bound"), class: "btn btn-xs btn-default" do%>
                          下限<i class="fa fa-caret-down"></i><% end %> -->
                      </td>
                      <td>公司</td>
                      <td>城市</td>
                      <td>创建时间
                          <!-- <%= link_to jobs_path, class: "btn btn-xs btn-default" do%>
                          创建时间<i class="fa fa-caret-down"></i><% end %> -->
                      </td>
                      <td>竞征人数</td>
                      <td>收藏</td>
                      <td>操作</td>
                  </tr>
              </thead>
              <tbody>
                  <% @collect_jobs.each do |job|%>
                  <tr>
                      <td><%= link_to(job.title, job_path(job)) %></td>
                      <td><%= job.category %></td>
                      <td>
                          <span class="badge badge-info">
                              <span class="fa fa-rmb"></span><%= job.wage_lower_bound%>
                              -
                              <%= job.wage_upper_bound%>
                          </span>
                      </td>
                      <td><%= job.company %></td>
                      <td><%= job.city %></td>
                      <td><%= job.created_at.to_date %></td>
                      <td><%= job.resumes.count %></td>
                      <td>
                          <% if current_user && current_user.is_member_of?(job) %>
                          <i class="fa fa-bookmark"></i>
                      <% else %>
                          <i class="fa fa-bookmark-o"></i>
                          <% end %>
                      </td>
                      <td>
                        <% if current_user && current_user.has_postmen_of?(job) %>
                          <%= link_to("已应征", new_job_resume_path(job), class: "btn btn-xs btn-success disabled", method: :get) %>
                        <% else %>
                          <%= link_to("应征", new_job_resume_path(job), class: "btn btn-xs btn-success", method: :get) %>
                        <% end %>
                      </td>
                  </tr>
                  <% end %>
              </tbody>
          </table>
      </div>
    </div>
  </div>
</div>
