<div class="col-md-12">
  <div class="job">
      <%= link_to("Edit",edit_job_path(@job),class: "btn btn-primary pull-right") %>
  </div>

  <h2><%= @job.title %></h2>
  <p><%= simple_format(@job.description) %></p>
  <p><%= simple_format(@job.wage_upper_bound) %></p>
  <p><%= simple_format(@job.wage_upper_bound) %></p>
  <p><%= simple_format(@job.contact_email) %></p>

</div>
