<div class="col-md-12">
  <div class="job">
    <span class="pull-right">
      <% if current_user && current_user.require_is_admin(@job) %>
        <label class="label label-success"> 你是本Job的admin </label>
      <% end %>
    </span>
    <% if current_user && current_user == @job.user %>
      <%= link_to("Edit", edit_job_path(@job), class: "btn btn-primary pull-right")%>
    <% end %>

  </div>
  <h2><%= @job.title %></h2>
  <p><%= @job.description %></p>
  <tr>
    <td><%= @job.wage_upper_bound %></td>
    <td><%= @job.wage_lower_bound %></td>
    <td><%= @job.contact_email %></td>
  </tr>
</div>
