<div class="col-md-12">
  <div class="job">
    <% if current_user && current_user == @job.user %>
      <%= link_to("Edit", edit_job_path(@job), class: "btn btn-primary pull-right") %>
    <% end %>
  </div>
  <h2><%= @job.title %></h2>
  <p>岗位描述：<%= @job.description %></p>
  <p>最低薪资：<%= @job.wage_lower_bound %></p>
  <p>最高薪资：<%= @job.wage_upper_bound %></p>
</div>
