<h1> <%= @job.title %> </h1>

<p>
  <%= simple_format(@job.description) %>
  <%= @job.wage_lower_bound %>
  <%= @job.wage_upper_bound %>
  <%= @job.contact_email %>

</p>
<br/>
<p>
  <%= link_to "New Resume", new_job_resume_path(@job) %>
</p>
