
<h1> <%=@job.title %></h1>
<td>
  <p>
  <%= simple_format(@job.description) %>
</p>
 <%= s="薪资上限" %>
  <%=   @job.wage_upper_bound %>
  <br>
<%= l="薪资下限" %>
<%= @job.wage_lower_bound %>
  <%= simple_format(@job.contact_email) %>
</td>
<div class="text-center">
  <!-- <#% if current_user && !current_user.is_admin %> -->
  <%= link_to("投递简历", new_job_resume_path(@job), :style => "font-size: 30px; text-decoration:underline;")%>
  <!-- <#% end %> -->
</div>
