<div class="col-md-12">
  <div class="group">

    <%= link_to("<BACK", jobs_path)%>
    <br/>
    <br/> 
    <!--<%= link_to("Edit", edit_job_path(@job), class: "btn btn-primary pull-right")%>-->
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title"><%= @job.title %></h3>
    </div>
    <div class="panel-body">
      <p>责任描述：<%= @job.description %></p>
      <p>薪资上限：<%= @job.wage_upper_bound %></p>
      <p>薪资下限：<%= @job.wage_lower_bound %></p>
      <p>创建时间：<%= @job.created_at %></p>
    </div>
    <div class="panel-footer" style="height:50px;">
      <%= link_to("投个简历", new_job_resume_path(@job), class: "btn btn-primary pull-right")%>
    </div>
  </div>


</div>
