<div class="col-md-12">
  <div class="job">
    <%= link_to("Edit", edit_job_path(@job), class: "btn btn-primary pull-right")%>
  </div>
  <h2><%= @job.title %></h2>
  <p><%= @job.description %></p>

  <!-- <%= link_to("Submit my resume", new_job_resume_path(@job))  %> -->
  <div class="text-center">
    <%= link_to("Submit my resume", new_job_resume_path(@job))  %>
  </div>

</div>
