  <h1><%= @job.title %><h1>
<br />
<br />
    <table>
      <tr>
        <th>
        工作内容

        </th>
        <th>
          薪资上限
        </th>
        <th>
          薪资下限
        </th>
        <th>
          联系方式
        </th>

      </tr>
      <tr>
        <td>  <%= simple_format(@job.description)%>    </td>
      <td><%= @job.wage_lower_bound%></td>
        <td><%= @job.wage_upper_bound%></td>
        <td><%= @job.contact_email%></td>

      </tr>

  </table>
