<h1> <%= @job.title %></h1>

<p>
  <%= simple_format(@job.description)%>
</p>

<p>
  <%= @job.wage_lower_bound%>
</p>
<p>
<%= @job.wage_upper_bound%>
</p>
<p>
  <%= simple_format(@job.contact_email)%>
</p>
