<div class="col-md-12">
  <div class="job">
    <%= link_to("Edit", edit_job_path(@job), class: "btn btn-primary pull-right")%>
  </div>
  <h2><%= @job.title %></h2>
  <p><%= @job.description %></p>
  <h3><%= @job.wage_lower_bound %></h3>
  <h3><%= @job.wage_upper_bound %></h3>
  <h3><%= @job.contact_email %></h3>
  <!--<h3><%= @job.is_hidden %></h3>
  <h3> @job.is_hidden </h3> -->
</div>
