<div class="col-md-4 col-md-offset-4">
  <h2>Job Detail</h2>

  <hr>

  <h3>Job_Title:<%= @job.title  %><h3>
  <br>

  <h3>Job_Description:<%= @job.description  %></h3>
  <br>

  <h3>wage:<%= @job.wage_lower_bound %> -  <%= @job.wage_upper_bound %></h3>
  <br>

  <h3>contact:<%= @job.contact_email %></h3>
  <br>

  </div>
