<h1> <%= @job.title %> </h1>
<p>

  描述<%= simple_format(@job.description)%>
  薪酬
  <br /><br />
  <%= @job.wage_lower_bound %>元 - <%= @job.wage_lower_bound %>元
  <br  /><br />
  邮箱
  <br  /><br />
  <%= @job.contact_email %>

</p>
