<div class="col-md-12">
  <table class="table table-hover">
    <thead>
      <tr>
        <td>Title</td>
        <td>Description</td>
          <td>#</td>
          <td>#</td>
          <td>#</td>
        <td>最近更新时间</td>
      </tr>
    </thead>
    <tbody>
        <tr>
          <td><%= @job.title %></td>
          <td><%= @job.description %></td>
          <td><%= @job.wage_upper_bound %></td>
          <td><%= @job.wage_lower_bound %></td>
          <td><%= @job.contact_email %></td>
          <td><%= @job.updated_at %></td>
        </tr>
    </tbody>
  </table>

<div>
