<%= form_for @group do |f| %>

<div class="form-group">
    <div class="form-group string optional">
        <%= f.label "Job Title", :class => "string optional control-label" %>
        <%= f.text_field :title, :class => "string optional form-control form-control" %>
    </div>

    <div class="form-group string optional">
        <%= f.label "Job Description", :class => "string optional control-label" %>
        <%= f.text_area :description, :class => "string optional form-control" %>
    </div>

</div>
<%= f.submit "Submit", class: "btn btn-primary", data: { disable_with: "Submitting..." } %>
<% end %>
