<%= form_for @group do |f| %>

<div class="form-group">
    <div class="form-group string optional">
        <%= f.label "职位", :class => "string optional control-label" %>
        <%= f.text_field :title, :class => "string optional form-control form-control" %>
    </div>

    <div class="form-group string optional">
        <%= f.label "叙述", :class => "string optional control-label" %>
        <%= f.text_area :descrtiption, :class => "string optional form-control" %>
    </div>

    <div class="form-group">
        <div class="form-group string optional">
            <%= f.label "薪资上限", :class => "string optional control-label" %>
            <%= f.text_field :up, :class => "string optional form-control form-control" %>
        </div>

        <div class="form-group">
            <div class="form-group string optional">
                <%= f.label "薪资下限", :class => "string optional control-label" %>
                <%= f.text_field :down, :class => "string optional form-control form-control" %>
            </div>

            <div class="form-group">
                <div class="form-group string optional">
                    <%= f.label "联系方式", :class => "string optional control-label" %>
                    <%= f.text_field :email, :class => "string optional form-control form-control" %>
                </div>

</div>
<%= f.submit "Submit", class: "btn btn-primary", data: { disable_with: "Submitting..." } %>
<% end %>
