<%= form_for @group do |f| -%>
<% if @group.errors.any? %>
<ul>
  <% @group.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
  <% end %>
</ul>
<% end %>
职位
<%= f.text_field :title %>
<br>
叙述
<br>
<%= f.text_area :descrtiption %>
<br>
薪资上限
<%= f.text_field :up %>
<br>
薪资下限
<%= f.text_field :down %>
<br>
Contact email
<%= f.text_field :email %>
<br>

<%= f.submit "Submit", :disable_with => 'Submiting...' %>
<% end %>
