<div class="col-md-12">
  <div class="group">
    <% if current_admin && current_admin == @group.admin %>
    <%= link_to("Edit", edit_group_path(@group), class: "btn btn-primary pull-right")%>
<% end %>
  </div>
  <h2>职位：<%= @group.title %></h2>
  <p>描述：<%= @group.descrtiption %></p>
  <p>薪资上限：<%= @group.up %></p>
  <p>薪资下限：<%= @group.down %></p>
  <p>联系方式：<%= @group.email %></p>
</div>
