
<tr>
<td>
  <%= render_job_status(job)%>
  <%= link_to(job.title, job_path(job)) %>
</td>
<td>
    <%= link_to("Edit", edit_admin_job_path(job)) %>|
    <%= link_to("Delete",admin_job_path(job),method: :delete, data: { confirm:"Are you sure?"} )%>|
    <% if job.is_hidden %>
      <%= link_to("Publish",publish_admin_job_path(job), method: :post, class:"btn btn-sm btn-default" ) %>
    <% else%>
      <%= link_to("Hide",hide_admin_job_path(job), method: :post, class:"btn btn-sm btn-default" ) %>
    <% end %>
</td>
<td><%= job.updated_at%></td>
</tr>
