<tr>
<td>
<%= render_job_state(job) %>
<% if isUserDashBoard %>
<%= link_to(job.title,  admin_job_path(job, {isUserDashBoard:true}))%>
<% else %>
<%= link_to(job.title,  admin_job_path(job))%>
<% end %>
</td>

<td><%= simple_format(job.description) %></td>
<td> <%=job.salaryMin%> - <%=job.salaryMax%></td>
<td><%= job.contact %></td>
<td><%= job.created_at %></td>

<td class="col-md-3">
  <% if !isUserDashBoard %>
  <div row vdivide>
    <%= link_to("Resumes (" + job.resumes.length.to_s + ")", admin_job_resumes_path(job))%>
    |
    <%= link_to("Edit", edit_admin_job_path(job)) %>
    |
    <%= link_to("Delete",admin_job_path(job), method: :delete, data: {confirm: "Are you sure?"}) %>
    <%  if job.hide %>
    |
    <%= link_to("Publish",admin_job_publish_path(job), method: :post, class: "btn btn-primary") %>
    <% else %>
    <%= link_to("Hide", admin_job_hide_path(job), method: :post, class: "btn btn-primary") %>
    <% end %>
    <% end %>
  </div>



</td>

</tr>
