<h1> Edit the job </h1>

<%= simple_form_for [:admin, @job] do |f|%>

<%= f.input :title%>
<%= f.input :description%>
<%= f.input :wage_lower_bound, label: "Wage lower bound"%>
<%= f.input :wage_upper_bound, label: "Wage upper bound"%>
<%= f.input :contact_email%>



<%= f.submit "Submit"%>

<% end %>
