<h1>Edit the job</h1>

<%= simple_form_for [:admin,@job] do |f|%>

<%= f.input :title%>
<%= f.input :description%>
<%= j.input :wage_lower_bound%>
<%= j.input :wage_upper_bound%>
<%= j.input :contact_email%>
<%= j.input :is_hidden%>

<%= f.submit "Submit"%>

<% end %>
