<div class="col-md-12">
  <div class="job">
    <%= link_to("Add a Job", new_admin_job_path, class: "btn btn-primary pull-right") %>
  </div>

  <h2 class="text-center"> Jobs created by Admin </h2>

  <table class="table">
    <thead>
      <tr>
        <th> Title </th>
        <th> Description </th>
        <th> Last Update </th>
      </tr>
    </thead>

    <tbody>
      <% @jobs.each do |job| %>
        <tr>
          <% if job.is_hidden == true %>
          <td> (Hidden) <%= link_to(job.title, admin_job_path(job)) %> </td>
          <% else %>
          <td> (Public) <%= link_to(job.title, admin_job_path(job)) %> </td>
          <% end %>
          <td> <%= job.description %> </td>
          <td> <%= job.updated_at %> </td>
          <td>
              <%= link_to("Edit", edit_admin_job_path(job))%> |
              <%= link_to("Delete", admin_job_path(job),
                          method: :delete, data: { confirm: "Are you sure?" } )%>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
