<div class="col-md-12">
  <div class="job">
    <%= link_to("Add a job", new_admin_job_path, class: "btn btn-primary pull-right") %>
  </div>
  <table class="table table-hover">
    <thead>
      <tr>

        <td>Title</td>

      </tr>
    </thead>
    <tbody>
      <% @jobs.each do |job| %>
      <tr>
        <td>
          <%= render_job_status(job) %>
              <%= link_to(job.title, admin_job_path(job)) %>
            </td>

        <td>


          <% if job.is_hidden %>
          <%= link_to("Publish", Publish_admin_job_path(job) , :method => :post, :class => "btn btn-xs btn-success") %>
          <% else %>
          <%= link_to("Hide", hide_admin_job_path(job), :method => :post, :class => "btn btn-xs btn-info") %>
          <% end %>

        </td>
        <td><%= job.created_at %> </td>
        <td>  <%= link_to("Edit", edit_admin_job_path(job), class: "btn btn-xs btn-primary")%>
          <%= link_to("Destroy", admin_job_path(job),  class: "btn btn-xs btn-danger",
                      method: :delete, data: { confirm: "Are you sure?"} ) %> </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
