  <div class="pull-right">
    <%= link_to("Add a job", new_admin_job_path, :class => "btn btn-default") %>
  </div>

  <br><br>

  <table class="table table-blodered">
      <% @jobs.each do |job| %>
        <tr>
          <td><%= link_to(job.title, admin_job_path(job)) %></td>
          <td>
              <%= link_to("Edit", edit_admin_job_path(job)) %>
              <%= link_to("Delete", admin_job_path(job), method: :delete, data: { confirm: "Are you sure?" } )%>
          </td>
          <!-- <td><%= render_job_status(job) %></td> -->
          <td>
           <% if job.is_hidden %>
             <%= link_to('Publish', publish_admin_job_path(job),   :method=> :post, :class => "btn btn-default") %>
           <% else %>
             <%= link_to('Hide', hide_admin_job_path(job), :method=> :post, :class=> "btn btn-default") %>
           <% end %>
         </td>
          <td><%= job.created_at %></td>
        </tr>
      <% end %>
  </table>
