<div class="col-md-12">

  <h2 class="text-center"> 我发布的职位 </h2>

  <table class="table">
    <tbody>
      <% @jobs.each do |job| %>
        <tr>
          <td> # </td>
          <% if !job.hidden %>
          <td> (Public)<%= link_to(job.title, job_path(job)) %> </td>
          <% else %>
          <td> (Hidden)<%= link_to(job.title, job_path(job)) %> </td>
          <% end %>
          <td> <%= link_to("Edit", edit_admin_job_path(job))%> | <%= link_to("Destroy", admin_job_path(job), method: :delete, data: { confirm: "Are you sure?"}) %> </td>
          <td> <%= job.updated_at %> </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
