<div class="pull-right">
  <%= link_to("Add a job", new_admin_job_path, class: "btn btn-default")%>
</div>

<br /><br />

<table class="table table-boldered">
  <% @jobs.each do |j|%>
    <tr>
      <td>
        <!-- <% if j.is_hidden %>
        (Hidden)
        <% else %>
        (Public)
        <% end %> -->
        <%= render_job_status(j)%>

        <%= link_to(j.title, admin_job_path(j))%>
      </td>
      <td>
        <%= link_to("Edit", edit_admin_job_path(j))%>
        <%= link_to("Destroy", admin_job_path(j), method: :delete, data: { confirm: "Are you sure to delete? "})%>
      </td>
      <td>
        <%= j.created_at %>
      </td>
    </tr>
  <% end %>
</table>
