<div class="col-md-12">
  <h2 class="text-center">我发布的职位</h2>
  <table class="table">
    <thead>
      <tr>
        <th>#</th>
        <th>职位</th>
        <th>简介</th>
        <th>发布时间</th>
      </tr>
    </thead>
    <tbody>
      <% @jobs.each do |job| %>
        <tr>
          <td>#</td>
          <td>
            <% if job.is_hidden %>
                (Hidden)
              <% else %>
                (Public)
              <% end %>
              <%= link_to(job.title, admin_job_path(job))%></td>
          <td><%= job.description%></td>
          <td><%= job.updated_at%></td>
          <td>
              <%= link_to("编辑", edit_job_path(job), class: "btn btn-sm btn-default")%>
              <%= link_to("删除", admin_job_path(job), class: "btn btn-sm btn-default", method: :delete, data: { confirm: "你确定删除该职位吗？"})%>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
