<div class="col-md-12">
  <div class="job">
    <%= link_to("New job", new_admin_job_path, class: "btn btn-primary pull-right") %>
  </div>
  <table class="table table-hover">
    <thead>
      <tr>
        <td>Title</td>
      </tr>
    </thead>
    <tbody>
      <% @jobs.each do |job| %>
        <tr>
          <td>
	    <%= render_job_status(job) %>
	    <%= link_to(job.title, admin_job_path(job)) %>
	  </td>
          <td><%= job.created_at %></td>
          <td>
              <%= link_to("Edit", edit_admin_job_path(job), class: "btn btn-sm btn-default")%>
              <%= link_to("Delete", admin_job_path(job),    class: "btn btn-sm btn-default",
                          method: :delete, data: { confirm: "Are you sure?" } )%>
	      <% args = (job.is_hidden)? "公開" : "隱藏" %>
	      <%= link_to(args, toggle_hidden_admin_job_path(job), :method => :put, :class => "btn btn-xs btn-default") %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div class="text-center">
    <%= will_paginate @jobs %>
  </div>
</div>

