<div class="pull-right">

  <%=link_to("Add a job", new_admin_job_path, :class => "btn btn-primary")%>
</div>

<div class="dropdown clearfix pull-right" >
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenuDivider"
  data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
  排序
  <span class="caret"></span>
</button>
<ul class="dropdown-menu" aria-labelledby="dropdownMenuDivider">
  <li>
    <%= link_to("按照薪资下限排序", admin_jobs_path(:order => "by_lower_bound"))%>
  </li>
  <li>
    <%= link_to("按照薪资上限排序", admin_jobs_path(:order => "by_upper_bound"))%>
  </li>
  <li>
    <%= link_to("按照发布时间排序", admin_jobs_path) %>
  </li>
</ul>
</div>

<br><br>
<table class="table table-boldered">
  <thead>
    <tr>
      <td>职缺</td>
      <td>收到的简历数量</td>
      <td>薪资下限</td>
      <td>薪资上限</td>
      <td>管理选项</td>
      <td>发布时间</td>
    </tr>
  </thead>
  <% @jobs.each do |job| %>
  <tr>
    <td>
      <%= render_job_status(job)%>
      <%= link_to(job.title, admin_job_path(job))%>
    </td>

     <th><%= link_to(job.resumes.count , admin_job_resumes_path(job))%></th>
      <td><%= job.wage_lower_bound %></td>
       <td><%= job.wage_upper_bound %></td>

    <td>
      <%=link_to("Edit", edit_admin_job_path(job)) %> |
      <%= link_to("Delete", admin_job_path(job), :method => :delete,
      :data => {:confirm => "Are you sure?"})%>
      |
      <% if job.is_hidden %>

       <%= link_to("Publish", publish_admin_job_path(job) , :method => :post, :class => "btn btn-xs btn-default") %>
      <% else %>
      <%= link_to("Hide",hide_admin_job_path(job),:method => :post , :class => "btn btn-xs btn-default")%>
      <% end %>

    </td>
    <td>
      <%= job.created_at %>
    </td>
  </tr>
  <% end %>
</table>
