<div class="col-md-12">
  <div class="group">
    <%= link_to("Add a job", new_admin_job_path, :class => "btn btn-primary pull-right") %>
  </div>

  <table class="table table-hover">
    <thead>
      <tr>
        <td>职缺名称</td>
        <td>职缺描述</td>
        <td>薪资上限</td>
        <td>薪资下限</td>
        <td>联系方式</td>
        <td>创建日期</td>
        <td>是否公开</td>
      </tr>
    </thead>
    <tbody>
      <% @jobs.each do |job| %>
        <tr>
          <td><%= job.title %></td>
          <td><%= job.description %></td>
          <td><%= job.wage_upper_bound %></td>
          <td><%= job.wage_lower_bound %></td>
          <td><%= job.contact_email %></td>
          <td><%= job.created_at %></td>
          <td>
            <% if job.is_hidden %>
              否
            <% else %>
              是
            <% end %>
          </td>
          <td>
            <%= link_to("Edit", edit_admin_job_path(job))%>
            |
            <%= link_to("Delete", admin_job_path(job), method: :delete, data:{confirm: "Are you sure?"}) %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
