<div class="col-md-12">
  <div class="group">
    <%= link_to("Add a Job",new_admin_job_path,class: "btn btn-primary pull-right")%>
  </div>
  <h2 class="text-center">管理后台</h2>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>#</th>
        <th>职位名称</th>
        <th>职位要求</th>
      </tr>
    </thead>
    <tbody>
      <% @jobs.each do |job|%>
      <tr>
        <td>#</td>
        <td><%= link_to(job.title,admin_job_path(job))%></td>
        <td><%= job.description%></td>
        <td>
          <% if current_user%>
          <%= link_to("Edit",edit_admin_job_path(job),class:"btn btn-default")%>
          <%= link_to("Delete",admin_job_path(job),method: :delete,class:"btn btn-default",data:{confirm:"Are you sure?"})%>
          <% end %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
