<div class="col-md-12">
<div class="pull-right">
  <%= link_to("新增职缺", new_admin_job_path, :class => "btn btn-primary")%>
</div>

  <br><br>

  <table class="table table-striped">
    <thead>
    <tr>
      <td>#</td>
      <td>职位</td>
      <td>修改|删除</td>
      <td>创建时间</td>
    </tr>
    </thead>
    <tbody>
      <% @jobs.each do |job| %>
      <tr>
        <td>#</td>
        <td><%= link_to(job.title, admin_job_path(job)) %></td>
        <td>
          <%= link_to("Edit", edit_admin_job_path(job))%> |
          <%= link_to("Delete", admin_job_path(job), :method => :delete, :data => {:confirm => "Are you sure?"})%>
        </td>
        <td>
          <%= job.created_at %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
