<div class="col-md-12">
  <%= link_to("New Job", new_admin_job_path, class: "btn btn-primary pull-right") %>
  <table class="table">
    <thead>
      <tr>
        <th>职位名称</th>
        <th>简历数量</th>
        <th>薪资下限</th>
        <th>薪资上限</th>
        <th>操作</th>
        <th>发布时间</th>
      </tr>
    </thead>
    <tbody>
      <% @jobs.each do |job| %>
        <tr>
          <td>
            <%= render_job_status(job) %>
            <%= link_to(job.title, admin_job_path(job)) %>
          </td>
          <td><%= job.resumes.count %></td>
          <td><%= job.wage_lower_bound %></td>
          <td><%= job.wage_upper_bound %></td>
          <td>
            <%= link_to("Edit", edit_admin_job_path(job), class: "btn btn-primary btn-xs") %>
            <%= link_to("Delete", admin_job_path(job), class: "btn btn-default btn-xs", method: :delete, data: {confirm: "Are you sure?"}) %>
            <% if job.is_hidden %>
              <%= link_to("Publish", publish_admin_job_path(job), class: "btn btn-default btn-xs", style: "color: green;", method: :post) %>
            <% else %>
              <%= link_to("Hide", hide_admin_job_path(job), class: "btn btn-default btn-xs", style: "color: red;", method: :post) %>
            <% end %>
          </td>
          <td><%= job.created_at %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
