<div class="group">
  <%= link_to("Add a Job", new_admin_job_path, class: "btn btn-default pull-right") %>
</div>
<br><br><br>
<table class="table table-hover">
  <tbody>
    <% @jobs.each do |job| %>
      <tr>
        <td><%= link_to(job.title, admin_job_path(job)) %></td>
        <td>
          <%= link_to("Edit", edit_admin_job_path(job)) %> |
          <%= link_to("Destroy", admin_job_path(job), method: :delete, data: {confirm: "Are you sure?"}) %>
        </td>
        <td><%= job.created_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>
