<div class="col-md-10 col-centered">
 <div class="panel panel-info">
  <div class="panel-heading ">
    <div class="row">
      <h3>
        <div class="pull-right">
          <%= link_to("Add a job", new_admin_job_path, :class => "btn btn-default" ) %>
        </div>
      </h3>
    </div>
  </div>

  <br><br>
    <div class="panel-body">
      <!-- <table class="table table-boldered"> -->
      <table class="table table-boldered table-striped custab" >
        <thead>
               <tr>
                   <td>
                       职缺
                   </td>

                   <td>
                     收到履历数量
                   </td>
                   <td>
                       薪资下限
                   </td>
                   <td>
                       薪资上限
                   </td>
                   <td>
                       管理选项
                   </td>
                   <td>
                       刊登时间
                   </td>
               </tr>
           </thead>

           <% @jobs.each do |job| %>
     <tr>

         <td>
             <%= render_job_status(job) %>

             <%= link_to(job.title, admin_job_path(job)) %>
         </td>
         <td> <%= link_to(job.resumes.count, admin_job_resumes_path(job)) %> </td>
         <td> <%= job.wage_lower_bound %> </td>
         <td> <%= job.wage_upper_bound %> </td>
         <td>
           <!-- -    <%= link_to("Edit", edit_admin_job_path(job)) %>
       -    |
       -    <%= link_to("Destroy", admin_job_path(job), :method => :delete, :class => "btn btn-xs btn-default info", :data => { :confirm => "Are you sure?" }) %>
       -    | -->
           <%= link_to("Edit", edit_admin_job_path(job), :class => "btn btn-xs btn-info") %>
           <%= link_to("Destroy", admin_job_path(job), :method => :delete, :class => "btn btn-xs btn-danger", :data => { :confirm => "Are you sure?" }) %>
            <% if job.is_hidden %>
       <!-- -      <%= link_to("Publish", publish_admin_job_path(job) , :method => :post, :class => "btn btn-xs btn-default ") %> -->
               <%= link_to("Publish", publish_admin_job_path(job) , :method => :post, :class => "btn btn-xs btn-success") %>
            <% else %>
       <!-- -        <%= link_to("Hide", hide_admin_job_path(job), :method => :post,  :class => "btn btn-xs btn-default") %> -->
               <%= link_to("Hide", hide_admin_job_path(job), :method => :post,  :class => "btn btn-xs btn-warning") %>
            <% end %>
       </td>
         <td>
             <%= job.created_at %>
         </td>
     </tr>
     <% end %>
 </table>
    </div>
</div>
</div>
