<div class='col-md-12'>
  <h2 class='text-center'>Admin Panel</h2>
  <div class='group'>
    <%= link_to('Add a job', new_admin_job_path, class: 'btn btn-primary pull-right') %>
  </div>
  <table class='table table-hover'>
    <thead>
      <tr>
        <th>#</th>
        <th>Title</th>
        <th>Updated_at</th>
        <th colspan="2"></th>
      </tr>
      <tbody>
        <% @jobs.each do |job| %>
        <tr>
          <td>#</td>
          <td><%= link_to(job.title, admin_job_path(job)) %></td>
          <td><%= job.updated_at %></td>
          <% if current_user %>
            <td><%= link_to('Edit', edit_admin_job_path(job), class: 'btn btn-default btn-sm') %></td>
            <td><%= link_to('Delete', admin_job_path(job), class: 'btn btn-default btn-sm', method: :delete, data: {confirm:'Are you sure?'}) %></td>
          <% end %>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
