<div class="col-md-10 col-md-offset-2">
<div class="pull-right">
  <%= link_to("Add a job", new_admin_job_path, :class => "btn btn-default") %>
</div>

<br>

<table class="table table-boldered">
  <% @jobs.each do |job| %>
  <tr>
    <td>
      <%= render_job_status(job) %>

      <% link_to(job.title, admin_job_path(job)) %>
    </td>
    <td>
      <%= link_to(job.title, admin_job_path(job))%>
    </td>

    <td>
      <%= job.created_at %>
    </td>
    <td>
      <div class="pull-right">
      <%= link_to("Edit",edit_admin_job_path(job),class:"btn btn-xs btn-primary") %>
      <%= link_to("Destroy", admin_job_path(job),class:"btn btn-xs btn-danger", :method => :delete, :data => { :confirm => "Are you sure?"}) %>
      <% if job.is_hidden %>
      <%= link_to("Publish",publish_admin_job_path(job), :method => :post, :class => "btn btn-xs btn-default")%>
      <% else %>
      <%= link_to("Hide",hide_admin_job_path(job), :method => :post, :class =>"btn btn-xs btn-default") %>
      <% end %>
    </td>


  </tr>
  <% end %>
</table>
