<h1>Add a job</h1>

<%= simple_form_for [:admin, @job] do |f| %>

<%= f.input :title %>
<%= f.input :description %>
<%= f.input :wage_upper_bound %>
<%= f.input :wage_lower_bound %>
<%= f.input :contact_email %>
  <%= f.input :is_hidden, :label => "Hide", as: :radio_buttons %>
  <br>
  <%= f.submit "Submit" %>
<% end %>
