<div class="container">
  <div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="panel panel-login panel-default">
        <div class="row">
          <div style="text-align:center" class="col-xs-12">
            <h2 style="font-family:'Helvetica Neue';font-size:300%;color:#d9534f;">Add a job</a></h2>
          </div>
        </div>
        <hr>

      <div class="panel-body">
        <div class="row">
          <div class="col-lg-12">


<%= simple_form_for [:admin,@job] do |f| %>

<%= f.input :title %>
<%= f.input :description %>
<%= f.input :author, :label => "作者" %>
<!-- <%= f.input :wage_lower_bound, :label => "薪资下限" %>
<%= f.input :wage_upper_bound, :label => "薪资上限" %> -->
<%= f.input :contact_email %>
<%= f.input :is_hidden %>

  <%= f.submit "Submit" %>
<% end %>
</div>
           </div>
          </div>
        </div>
      </div>
      </div>
</div>
