<div class="col-md-12">
  <div class="job">
    <%= link_to("Edit", edit_admin_job_path(@job), class: "btn btn-primary pull-right")%>
  </div>
  <h2><%= @job.title %></h2>
  <p><%= @job.description %></p>
  <p><%= @job.wage_upper_bound %></p>
  <p><%= @job.wage_lower_bound %></p>
  <p><%= @job.contact_email %></p>
</div>
