<h1> <%= @job.title %> </h1>

<p>
  <%= simple_format(@job.description) %>
</p>
<p>
    <span class="wage"><%= @job.wage_lower_bound %> k ~ <%= @job.wage_upper_bound %> k </span>
  </p>
</div>
<p>
  <%= simple_format(@job.Company_name) %>
</p>
<p>
  <%= simple_format(@job.work_place) %>
</p>
<p>
  <%= simple_format(@job.About_us) %>
</p>
<p>
  <%= simple_format(@job.Address) %>
</p>
<p>
  <%= simple_format(@job.contact_email) %>
</p>
