<h1> <%= @admin_job.title %> </h1>

<p>
  <%= simple_format(@admin_job.description) %>
  <%= @admin_job.wage_upper_bound %>
  <%= @admin_job.wage_lower_bound %>
  <%= @admin_job.contact_email %>
</p>
