<div class="pull-right">
  <%= link_to("new work", new_admin_work_path, class: "btn btn-default") %>
</div>

  <br><br>

  <table class="table table-boldered">
    <% @works.each do |w| %>
    <tr>
      <td>
        <%= render_work_status(w) %>
        <%= link_to(w.title, admin_work_path(w)) %>
      </td>

      <td>
        <%= link_to("bian", edit_admin_work_path(w)) %>
        <%= link_to("shan", admin_work_path(w), method: :delete, :data => {  :confirm => "sure"}) %>
      </td>
      <td><%= w.created_at %></td>
    </tr>
    <% end %>
  </table>
