<table class="table table-boldered">
  <tr>
    <th>Position</th>
    <th>Applicants</th>    
    <th>Submit Time</th>
    <th></th> 
  </tr>
  <% @jobs.each do |job| %>
    <% if job.resumes.count > 0 %>

      <% job.resumes.each do |resume| %>
        <tr>
          <td>
            <%= link_to(job.title, admin_job_path(job)) %>
          </td>
          <td>
            <%= resume.name %> |
            <%= link_to("view resume", admin_resume_path(resume)) %>
          </td>
          <td>
            <%= resume.created_at %>
          </td>
          <td>
            <%= link_to("Delete", job_resume_path(job, resume), :method => :delete, :data => { :confirm => "Are you sure?" }) %>
          </td>
        </tr>
      <% end %>

    <% else %>

      <tr>
          <td>
            <%= job.title %>
          </td>
          <td>
            No Resumes Yet
          </td>
          <td>
          </td>
          <td>
          </td>
        </tr>
    <% end %>

  <% end %>
</table>


