<div class="col-md-12">
  <h3><%= @job.title %>/简历列表</h3>

  <% @resumes.each do |resume| %>

  <div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading"><%= resume.user.email %></div>
    <div class="panel-body">
      <p>
        <%= link_to(simple_format(resume.content),admin_job_resume_path(@job,resume)) %>
      </p>
    </div>

    <!-- List group -->
    <ul class="list-group">
      <li class="list-group-item"><%=resume.updated_at%></li>

      <li class="list-group-item">

         <% if resume.attachment_url %>
          <i class="fa fa-paperclip" aria-hidden="true"></i>
          <%= link_to "下载简历", resume.attachment_url %>
         <% else %>
           无附件
         <% end %>
      </li>
    </ul>
  </div>

  <% end %>

  <!-- <table class="table">
    <thead>
      <tr>
        <th>简历</th>
        <th>最后修改时间</th>
        <th>附件</th>
      </tr>

      <tbody>
        <% @resumes.each do |resume| %>
          <tr>
            <td>
              <%= link_to(resume.content,admin_job_resume_path(@job,resume)) %>
            </td>
            <td>
              <%= resume.updated_at %>
            </td>
            <td>
              <% if resume.attachment_url %>
              <%= link_to "下载简历", resume.attachment_url %>
              <% else %>
                还未上传简历
              <% end %>
            </td>

          </tr>
        <% end %>
      </tbody>
    </thead>
  </table> -->
</div>
