    <%= simple_form_for [@job, @resume] do |f| %>
    	
    	<div class="form-job">
	    <%= f.input :name, input_html: { class: "form-control"} %>
	    <%= f.input :description, input_html: { class: "form-control"} %>
	    <%= f.input :pdf_file, label: 'Upload a PDF Resume', as: :file %>
  		</div>

  		<%= f.submit "Submit", class: "btn btn-primary", data: { disable_with: "Submitting..." } %>

	
	<% end %>