<nav class="navbar  navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href="/"><img src='<%= image_url 'orange.png' %>' ></a>
      <a class="navbar-brand" href="/jobs"></a>
    </div>
    <ul class="nav navbar-nav">
  <li class="active"><a href="/jobs">全部工作</a></li>
  <li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">工作分类
    <span class="caret"></span></a>
    <ul class="dropdown-menu">
      <li><a href="/qianduan/jobs">前端工程师</a></li>
      <li><a href="/houduan/jobs">后端工程师</a></li>
      <li><a href="/quanzhan/jobs">全栈工程师</a></li>
      <li><a href="/yunxing/jobs">运行维护</a></li>
      <li><a href="/chanpin/jobs">产品经理</a></li>
      <li><a href="/mishu/jobs">秘书</a></li>
      <li><a href="/shouhou/jobs">售后专员</a></li>
      <li><a href="/ceshi/jobs">测试专员</a></li>
    </ul>
</ul>
    <!-- Collext the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <% if !current_user %>
        <li><%= link_to("注册", new_user_registration_path) %> </li>
        <li><%= link_to("登入", new_user_session_path) %></li>
        <% else %>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            Hi!, <%= current_user.email %>
            <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <% if current_user.admin? %>
            <li> <%= link_to("Admin Panel", admin_jobs_path)%> </li>
            <% end %>
            <li> <%= link_to("登出", destroy_user_session_path, method: :delete) %> </li>
          </ul>
        </li>
        <% end %>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container-fluid -->
</nav>
