<table class="table table-boldered">
  <thead>
      <tr>
          <td>What are you zuijinfan？</td>
          <td></td>
          <!-- <td>薪资下限</td>
          <td>薪资上限</td> -->
          <td>发布时间</td>
      </tr>

  </thead>
  <tbody>
      <% @jobs.each do |job| %>
      <tr>
          <td>
              <%= link_to(job.user.email, chaxun_job_path(job),:method => :get)%>最近FAN<%= link_to(job.title, job_path(job))%><%=simple_format(job.description)%>
          </td>
          <!-- <td>
              <%= job.wage_lower_bound %>
          </td>
          <td>
              <%= job.wage_upper_bound %>
          </td> -->
          <td>
            <%= link_to("评论", new_job_resume_path(job), class: "btn btn-default pull-right")%>
          </td>
          <td>
              <%= job.created_at %>
          </td>
      </tr>
      <% end %>
  </tbody>


</table>
