<div class="tpull-right">
  <%=link_to("发布新欢",new_job_path,:class=>"btn btn-default")%>
</div>
<table class="table table-boldered">
  <thead>
      <tr>
          <td>Ta的历史</td>
          <td></td>
          <td>发布时间</td>
      </tr>

  </thead>
  <tbody>
      <% @jobs.each do |job| %>
      <tr>
          <td>
              <%= link_to(job.user.email, chaxun_job_path(job),:method => :get)%>最近FAN<%= link_to(job.title, job_path(job))%><%=simple_format(job.description)%>

          </td>
          <td>
            <%= link_to("评论", new_job_resume_path(job), class: "btn btn-default pull-right")%>
            <% if current_user && current_user.is_shoucang_of?(job) && current_user!=job.user %>
            <%= link_to("取消收藏", quit_job_path(job),:method => :post, class: "btn btn-default pull-right")%>
            <%end %>
            <% if current_user && !current_user.is_shoucang_of?(job) && current_user!=job.user %>
            <%= link_to("收藏", join_job_path(job), :method => :post,class: "btn btn-default pull-right")%>
            <%end %>


          </td>
          <td>
              <%= job.created_at %>
          </td>
      </tr>
      <% end %>
  </tbody>


</table>
