<!DOCTYPE html>
<html>
  <head>
    <title>JobListing</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'admin/jobs', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div class="container-fluid">
      <%= render "common/navbar" %>
      <%= render "common/flashes" %>

      <div class="row">
        <div class="col-md-2">
            <nav class="nav-sidebar">
                <ul class="nav">
                  <li class="active"> <%= link_to("AdminJobs", admin_jobs_path) %> </li>
                  <!-- <li><a href="javascript:;">About</a></li> -->
                </ul>
            </nav>
        </div>
        <div class="col-md-10">
          <%= yield %>
        </div>
      </div>
    </div>
    <%= render "common/footer" %>
  </body>
</html>
