<!DOCTYPE html>
<html>
  <head>
    <title>大圣安利网</title>

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- <link rel="shortcut icon" href="/images/收藏.ico"> -->
    <link rel="icon" href="img/favicon.ico" type="image/x-icon">
		<link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">

  </head>

  <body>
    <div class="container-fluid">
      <%= render "common/navbar"%>
      <%= render "common/flashes"%>
      <%= yield %>
    </div>

    <%= render "common/footer"%>
  </body>
</html>
