<!DOCTYPE html>
<html>
  <head>
    <title>Light</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="content">
      <div class="container-fluid">
        <div class="row">
          <%= render "common/navbar" %>
              <div style="margin-top:80px;">
                   <%= yield%>
              </div>
        </div>
      </div>
    </div>
    <%= render "common/footer" %>
  </body>
</html>
