<!DOCTYPE html>
<html>
  <head>
    <title>JobListing</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="shortcut icon" href="images/favicon.ico"/>
  </head>

  <body>
    <div class="container-fluid">
      <div class="row">
        <%= render "comm/navbar" %>
      </div>
      <%= render "comm/flashs" %>
      <%= yield %>
    </div>
    <%= render "comm/footer" %>
  </body>
</html>
