<!DOCTYPE html>
<html>
  <head>
    <title>Lynkle Offer</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
 <%= render 'common/navbar'  %>
   <div class="wrapper">
 <%= render 'common/flashes' %>
  	<%= yield %>
  </div>
  <div class="push"></div>
  <%= render 'common/footer' %>
</body>
</html>
