<!DOCTYPE html>
<html>
  <head>
    <title>JobListing</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="shortcut icon" href="/images/box.ico" >
  </head>

  <body>
    <div class="container-fluid">
      <div class="row">
        <%= render "common/navbar" %>
        <%= render "common/flashes" %>
        <%= yield %>
      </div>
    </div>

    <%= render "common/footer" %>

  </body>
</html>
