<!DOCTYPE html>
<html>
    <head>
        <title>KK职搜</title>
        <%= csrf_meta_tags %>
        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
        <link rel="shortcut icon" href="/images/favicon.ico">
      </head>
    <body>
        <div class="container-fluid">
            <%= render "common/navbar" %>
            <%= yield %>
        </div>
        <div class="container-fluid">

        <%= render "common/footer" %>
      </div>

    </body>
</html>
