<!DOCTYPE html>
<html>
  <head>
    <title>JobListing</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container-fluid">
      <%= render 'layouts/header' %>
      <%= render 'layouts/flashes' %>
      <%= yield %>
    </div>
    <%= render 'layouts/footer' %>
    <%= debug params if Rails.env.development? %>
  </body>
</html>
